techs:
  demand_elec:
    name: 'Electricity demand'
    base_tech: demand
    carrier_in: electricity

nodes:
  {% for id, location in locations.iterrows() %}
  {{ id }}.techs.demand_elec:
  {% endfor %}

data_sources:
  demand_elec_timeseries:
    source: timeseries/demand/electricity.csv
    columns: nodes
    rows: timesteps
    add_dims:
      techs: demand_elec
      parameters: sink_use_equals
