templates:
  ac_transmission:
    name: "High viltage AC transmission line"
    base_tech: transmission
    carrier_in: electricity
    carrier_out: electricity
    flow_out_eff_per_distance: 0.99999995 # (1/m)
    lifetime: 60
    cost_flow_cap_per_distance: # from [@JRC:2014], Table 39
      data: {{ 0.9 * scaling_factors.specific_costs }} # {{ (1 / scaling_factors.specific_costs) | unit("EUR2013/MW/m") }}
      index: monetary
      dims: costs
    cost_om_annual_investment_fraction: # from [@JRC:2014], Table 39
      data: 0.015
      index: monetary
      dims: costs


techs:
  free_transmission:
    name: 'Local power transmission'
    base_tech: transmission
    carrier_in: electricity
    carrier_out: electricity
    flow_cap_max: .inf
    flow_out_eff: 1.0
    cost_flow_out:
      data: 0
      index: monetary
      dims: costs

  {% for link in links.index %}
  ac_transmission_{{ link[0] }}_{{ link[1] }}:
    template: ac_transmission
    {% if energy_cap_limit == "equals" %}
    flow_cap_min: {{ links.loc[link] * scaling_factors.power }}  # {{ (1 / scaling_factors.power) | unit("MW") }}
    flow_cap_max: {{ links.loc[link] * scaling_factors.power }}  # {{ (1 / scaling_factors.power) | unit("MW") }}
    {% elif energy_cap_limit in ["min", "max"] %}
    flow_cap_{{ energy_cap_limit }}: {{ links.loc[link] * scaling_factors.power }}  # {{ (1 / scaling_factors.power) | unit("MW") }}
    {% endif %}
  {% endfor %}

{% if link_comment is defined %}
{{ link_comment }}
{% endif %}
